/* Hero */

.hero__btn {
    width: 216px;
    min-height: 50px;
    padding: 6px 28px;
    background-color: var(--accent-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--light-txt-cl);
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    font-family: inherit;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Portfolio */

.btn2 {
    display: flex;
    gap: 8px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    background-color: var(--secondary-bg-cl);
    cursor: pointer;
    font-size: 16px;
    line-height: calc(26 / 16);
    padding-top: 6px;
    padding-left: 25px;
    padding-bottom: 6px;
    padding-right: 25px;
    letter-spacing: 0.03em;
    font-family: inherit;
    font-weight: 500;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-txt-cl);
        color: #FFFFFF;
        }
}



