/* Social-form */
.social-form {
    
}

.social-form-text {
    display: block;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-weight: 700;    
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;    
}

.subs-form {
    display: flex;
    
    @media screen and (max-width: 1199px) {
        display: block;
        flex-direction: column;
        justify-content: center;        
    }
}

.subs-form-input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0;       
    }
}

.subs-btn {
    padding: 10px 28px;
    margin-left: 12px;
    font-weight: 700;    
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 1199px) {
            margin-left: auto;
            margin-right: auto;
        }
    
}

/* Register form */

.register-form-title {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.register-form-group {
    margin-bottom: 20px;
}

.register-form-field {
    position: relative;
    display: block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
        }
}

.register-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--secondary-txt-cl);
}

.register-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    &:focus {
        border-color: var(--accent-bg-cl);
        }
}

.register-form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:focus+.register-form-icon {
    fill: var(--accent-bg-cl);
}

.register-form-heading {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--secondary-txt-cl);
}

.register-form-message {
    display: block;
    width: 100%;
    height: 138px;
    padding: 12px 16px;
    resize: none;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-bg-cl);
        }
}

.register-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
}

.icon-checked {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked+.register-form-icons .icon-checked {
    opacity: 1;
}

.icon-unchecked {
    opacity: 1;
    background-color: var(--main-txt-cl);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked+.register-form-icons .icon-unchecked {
    opacity: 0;
}

.register-form-desc {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
    user-select: none;
}

.register-form-link {
    color: var(--accent-txt-cl);
}

.register-form-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 52px;

    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: var(--light-txt-cl);
}