.section {
    // mobile styles
    padding-top: 118px;
    padding-bottom: 118px;


    // desktop styles        
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

/*.section {
    padding-top: 200px;
    padding-bottom: 200px;
}*/

.page {
    border-bottom: 1px solid #000;
    background-color: var(--main-bg-cl);
    color: var(--main-txt-cl);
    font-family: var(--main-font);
}