.benefits {
    padding-top: 60px;
    padding-bottom: 60px;

    // desktop styles        
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefit {
    display: block;
    
    // tablet styles        
        @media screen and (min-width: 768px) {
            display: flex;
            gap: 30px;
        }
}

.benefit {
    display: flex;
    gap: 30px;
}

.benefit__item {
    width: 450px;

    // tablet styles        
        @media screen and (min-width: 768px) {
            width: 354px;
        }

    // desktop styles        
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.benefit__item {
    width: 270px;
}

.benefit-icons {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;

}

.benefit__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefit__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}