.section-client {
    padding-top: 60px;
        padding-bottom: 60px;
    
        // desktop styles        
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
                
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
           
        }
}

.clients__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: calc(42 / 36);
               
        }
}

.clients__item {
    width: 210px;
    
        // tablet styles        
        @media screen and (min-width: 768px) {
            width: 226px;
        }
    
        // desktop styles        
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    background-color: #FFFFFF;
    border: 1px solid #afb188;
    border-radius: 4px;

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-bg-cl);
        border: 1px solid var(--accent-bg-cl);
        }
}

.clients__icon {
    fill: currentColor;
}