.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer {
    display: block;
    text-align: center;    

    @media screen and (min-width: 768px) {       
            display: flex;   
            justify-content: center;
            flex-wrap: wrap;  
        }
    
    @media screen and (min-width: 1200px) {
            
            align-items: baseline;
            text-align: left;
        }
}

.contact-footer {    
    @media screen and (min-width: 768px) {
        margin-right: 165px;
        }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
         }
}

.footer-address {
    font-style: normal
}

.footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--light-txt-cl);
    margin-bottom: 9px;
}

.address-list {
    display: block;
}

.footer-item {
    margin-bottom: 60px;

    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    &:not(:last-child) {
        margin-bottom: 9px;
        }
}

