/*.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer {
    display: flex;
    align-items: baseline
}

.contact-footer {
    margin-right: 70px;
}

.footer-address {
    font-style: normal
}

.footer-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--light-txt-cl);
    margin-bottom: 9px;
}

.address-list {
    display: block;
}

.footer-item {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    &:not(:last-child) {
        margin-bottom: 9px;
        }
}*/

