.page__header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        padding-right: 10px;
    }  
}

.nav__auth-nav {
    margin-left: auto;
}

.auth-nav {      
       
    @media screen and (max-width: 767px) {
            display: none;
    }

    @media screen and (min-width: 768px) {   
        display: flex;
        flex-direction: column;
        margin-left: auto; 
    }

    @media screen and (min-width: 1200px) {        
        flex-direction: row;
    }
}

.auth-nav__item {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
        }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(16 / 14);
    }
}

.auth-nav__link {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: currentColor;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
        }
}

.auth-nav__icon {
    fill: currentColor;
}