.hero {
// mobile styles
    background-color: #2F303A;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #000;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img_sm-header-@1x.png);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img_sm-header-@2x.png);
        }
  
    // tablet styles        
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    
    @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img_md-header-@1x.png);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img_md-header-@2x.png);
        }
    }

    // desktop styles        
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
    }

        @media screen and (min-width: 769px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/img_lg-header-@1x.png);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/img_lg-header-@2x.png);
            }
        }
}


.hero__title {
    // mobile styles
    width: 360px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-txt-cl);
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    // tablet styles        
    @media screen and (min-width: 768px) {
        display: block;
    }

    // desktop styles        
    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: calc(60 / 44);
        display: block;
    }
}



