.nav {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
        }
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}