.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.portfolio-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio .list {
    background: #FFFFFF;
}

.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
    display: block;
    text-decoration: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--main-bg-cl);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;

    line-height: 28px;
    letter-spacing: 0.03em;

    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms;
}

.overlay-desc {
    color: var(--light-txt-cl);
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item-item {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.portfolio-item-title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--main-txt-cl);
}

.portfolio-text {
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}