.teams {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-cl);

    // desktop styles        
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.teams__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: calc(42 / 36);
        }
}

.team {
    display: block;
    background-color: var(--secondary-bg-cl);
    

    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
}
}

.team__item {
    background-color: var(--main-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.team__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__text {
    margin-bottom: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}