.work {

    @media screen and (max-width: 1199px) {
            display: none;
        }

    // desktop styles        
        @media screen and (min-width: 1200px) {
            padding-top: 0;
            padding-bottom: 94px;
        }    
}

.work__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    text-align: center;
}

.work .list {
    gap: 30px;
    display: flex;
    padding-bottom: 0;
}

.work-thumb {
    position: relative;
}

.work-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(320%);

    width: 370px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px auto;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);

    transition: transform 250ms;
}

.work-overlay-desc {
    color: var(--light-txt-cl);
}